<h1>About</h1>
<h3>Welcome to my website!!!</h3>

<p>
  My name is Matthew Hyndman, and I am actively seeking a position as an Angular
  Developer. This website showcases my skills and knowledge, aimed at potential
  employers with developer vacancies.
</p>

<p>
  Over the past 8 months, I have devoted myself to mastering Angular and the
  Spring Boot framework through unpaid study. This website is a testament to my
  dedication and an opportunity to put my learning into practice.
</p>

<h3>My future plans for this Website</h3>

<p>
  To streamline the development process, I have outlined several evolving phases
  with distinct technical goals:
</p>

<p>
  <strong>Phase 1 (complete)</strong><br />
  Features: Blackjack Game, Disclaimer, and Landing Page—all developed using
  Angular.
</p>

<p>
  <strong>Phase 2</strong><br />
  Upcoming: User accounts with security (Spring Boot and HTTPS), Blackjack
  record keeping (track wins, losses, and pot in a database), and a leaderboards
  feature. <br />
  <i>Micro-Service to be integrated:</i><br />
  <a style="color: #fff" class="text-center" href="https://www.okta.com"
    ><img class="img-icon" src="assets\images\auth0_logo.png" /><br /><strong
      >Auth-0</strong
    ></a
  >
</p>

<p>
  <strong>Phase 3</strong><br />
  Future Development: A mock eCommerce shop with customer accounts (managed by
  Auth-0), enabling the creation of mock transactions to demonstrate a working
  payment process.<br />
  <i>Micro-Service to be integrated:</i><br />
  <a style="color: #fff" class="text-center" href="https://www.stripe.com"
    ><img class="img-icon" src="assets\images\stripe_logo.png" /><br /><strong
      >Stripe</strong
    ></a
  ><br />
  I will continually add new ideas to this page as the website evolves.
</p>

<p>
  This website is built using CSS, TypeScript (JavaScript), and HTML. For more
  information on the micro-services used, please refer to the footer.
</p>

<p>
  I can't wait to show you more of what I am capable of in the future! I hope
  you enjoy the Blackjack Game!
</p>

<p>
  <i>Did you know?:</i><br />
  Xenon is a noble gas on the periodic table with the Symbol of “Xe”<br />
  atomic number: 54<br />
  atomic weight: 131.293<br />
  Found in small amounts in the Earth's atmosphere, Xenon is considered an
  excellent rocket fuel for deep space missions due to its ease of ionization,
  low weight, and high density in liquid form.
</p>
