<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fulid">
      <h1>About</h1>
      <h3>Welcome to my website!!!</h3>

      <p>
        My name is Matthew Hyndman, and I am actively seeking a position as an
        Angular Developer. This website showcases my skills and knowledge, aimed
        at potential employers with developer vacancies.
      </p>

      <p>
        Over the past 8 months, I have devoted myself to mastering Angular and
        the Spring Boot framework through unpaid study. This website is a
        testament to my dedication and an opportunity to put my learning into
        practice.
      </p>

      <h3>My future plans for this Website</h3>

      <p>
        To streamline the development process, I have outlined several evolving
        phases with distinct technical goals:
      </p>

      <p>
        <strong>Phase 1 (completed)</strong><br />
        Host Website via Amazon Web Services with Amplify Gen 2 Features:
        Blackjack Game, Disclaimer, and Landing Page—all developed using
        Angular.
      </p>

      <p>
        <strong>Phase 1.5 (completed)</strong><br />
        This phase is dedicated to fine-tuning user experience and ironing out
        bugs that derived from phase 1. See the following updates made:
      </p>

      <div class="updates-on-mobile mb-3">
        <ul>
          <li>
            <strong>Optimised HTML and CSS</strong> - Improved readability and
            standardisation
          </li>
          <li>
            <strong>General UI update</strong> - New background and buttons
          </li>
          <li>
            <strong>Black Jack UX Overhaul</strong> - The Black Jack game UI
            looked old and was still a bit difficult to understand, therefore I
            added:
            <ul>
              <li>Card tooltips that reveal the card value</li>
              <li>Reworked buttons and spacing</li>
              <li>A dealer card reveal timer (just for suspense)</li>
              <li>
                A toggle for the dealer card reveal timer (just in case it gets
                annoying)
              </li>
            </ul>
          </li>
          <li>
            <strong>Toggle Dealer card reveal timer data stored</strong> - When
            you change the toggle the preference it will be remembered next time
            you visit the page (stored locally)
          </li>
          <li>
            <strong>Black Jack bug fix</strong> - Black Jack had an issue with
            the Ace card being pulled and did not change its value accordingly.
            I utilised Jasmine unit testing to assist in finding all possible
            bugs that could happen.
          </li>
        </ul>
      </div>

      <div class="table-fromat mb-3">
        <table>
          <thead>
            <tr>
              <th>Update</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Optimised HTML and CSS</td>
              <td>Improved readability and standardisation</td>
            </tr>
            <tr>
              <td>General UI update</td>
              <td>New background and buttons</td>
            </tr>
            <tr>
              <td>Black Jack UX Overhaul</td>
              <td>
                The Black Jack game UI looked old and was still a bit difficult
                to understand, therefore I added:
                <ul>
                  <li>Card tooltips that reveal the card value</li>
                  <li>Reworked buttons and spacing</li>
                  <li>A dealer card reveal timer (just for suspense)</li>
                  <li>
                    A toggle for the dealer card reveal timer (just in case it
                    gets annoying)
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Toggle Dealer card reveal timer data stored</td>
              <td>
                When you change the toggle the preference it will be remembered
                next time you visit the page (stored locally)
              </td>
            </tr>
            <tr>
              <td>Black Jack bug fix</td>
              <td>
                Black Jack had an issue with the Ace card being pulled and did
                not change its value accordingly. I utilised Jasmine unit
                testing to assist in finding all possible bugs that could
                happen.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        As of writing this, Phase 2 is still underway, this update is only for
        correcting and applying new techniques I have learned recently.
      </p>

      <p>
        <strong>Phase 2</strong><br />
        Upcoming: User accounts with security (Spring Boot and HTTPS), Blackjack
        record keeping (track wins, losses, and pot in a database), and a
        leaderboards feature. <br />
        <i>Micro-Service to be integrated:</i><br />
        <a style="color: #fff" class="text-center" href="https://www.okta.com"
          ><img
            class="img-icon"
            src="assets\images\auth0_logo.png"
          /><br /><strong>Auth-0 (connected via REST API)</strong></a
        >
      </p>

      <p>
        <strong>Phase 3</strong><br />
        Future Development: A mock eCommerce shop with customer accounts
        (managed by Auth-0), enabling the creation of mock transactions to
        demonstrate a working payment process.<br />
        <i>Micro-Service to be integrated:</i><br />
        <a style="color: #fff" class="text-center" href="https://www.stripe.com"
          ><img
            class="img-icon"
            src="assets\images\stripe_logo.png"
          /><br /><strong>Stripe (connected via REST API)</strong></a
        ><br />
        I will continually add new ideas to this page as the website evolves.
      </p>

      <p>
        This website is built using CSS, TypeScript (JavaScript), and HTML. For
        more information on the micro-services used, please refer to the footer.
      </p>

      <p>
        I can't wait to show you more of what I am capable of in the future! I
        hope you enjoy the Blackjack Game!
      </p>

      <p style="margin-bottom: 0">
        <i>Did you know?:</i><br />
        Xenon is a noble gas on the periodic table with the Symbol of “Xe”<br />
        atomic number: 54<br />
        atomic weight: 131.293<br />
        Found in small amounts in the Earth's atmosphere, Xenon is considered an
        excellent rocket fuel for deep space missions due to its ease of
        ionization, low weight, and high density in liquid form.
      </p>
    </div>
  </div>
</div>
