<img
  class="bg-img"
  src="assets\images\background-img.jpg"
  alt="background-image"
/>
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fulid">
      <h1>For Recruiters and Employers</h1>

      <img
        class="author-image mt-4"
        src="assets\images\author.jpg"
        alt="author image"
      />

      <p>
        This page serves as a quick reference for employers seeking a Full-stack
        Developer proficient in Angular and Spring Boot.
      </p>

      <hr />

      <h2>What This Project Demonstrates</h2>

      <div class="info-box">
        <div class="info-panel">
          <p>Full-stack Angular + Spring Boot development</p>
          <p>
            <i class="fa-solid fa-check" style="color: rgb(53, 228, 76)"></i>
            CI/CD deployment with AWS
          </p>
          <p>
            <i class="fa-solid fa-check" style="color: rgb(53, 228, 76)"></i>
            Cost-effective solutions
          </p>
          <p>
            <i class="fa-solid fa-check" style="color: rgb(53, 228, 76)"></i>
            Secure authentication with JWT + Keycloak
          </p>
          <p>
            <i class="fa-solid fa-check" style="color: rgb(53, 228, 76)"></i>
            REST API design with scaleability in mind
          </p>
          <p>
            <i class="fa-solid fa-check" style="color: rgb(53, 228, 76)"></i>
            Production-level practices (environment variables, testing,
            branching)
          </p>
          <p>Technologies:</p>
          <p class="skills-container">
            <span class="skill">Angular</span>
            <span class="skill">JavaScript</span>
            <span class="skill">TypeScript</span>
            <span class="skill">HTML</span>
            <span class="skill">CSS</span>
            <span class="skill">Spring Boot</span>
            <span class="skill">Java</span>
            <span class="skill">AWS</span>
            <span class="skill">MySQL</span>
            <span class="skill">PostgreSQL</span>
            <span class="skill">DynamoDB</span>
            <span class="skill">Keycloak</span>
            <span class="skill">Docker</span>
            <span class="skill">Git</span>
            <span class="skill">Jasmine</span>
          </p>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
