<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fulid">
      <h1>Welcome</h1>
      <div class="row">
        <h2>Announcement</h2>
        <p style="text-align: center">
          This website is a work in progress. More features and content will be
          added in due time to further demonstrate Matthew's capability.
        </p>
      </div>
      <br />
      <div class="row responsive-row">
        <a
          class="col responsive-col text-center"
          style="text-decoration: none"
          href="/site-info"
        >
          <img
            class="img-icon"
            src="assets\images\info-icon.jpg"
            style="color: #ffffff"
          />
          <h2 class="mt-2">About</h2>
          <p>
            Learn about the purpose of this website and its creator, including
            the plans Matthew has for this website.
          </p>
        </a>
        <a
          class="col responsive-col text-center"
          style="text-decoration: none"
          href="{{ blckJackGameRoute }}"
        >
          <img class="img-icon" src="assets\images\black-jack-icon.png" />
          <h2 class="mt-2">Black Jack</h2>
          <p>
            Play a game of blackjack with casual rules. In this demo, the
            insurance rule will not apply, as the focus is on showcasing
            technical abilities.
          </p>
        </a>
        <!--<div class="col"></div>-->
      </div>
    </div>
  </div>
</div>
