<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fulid">
      <h1>Welcome</h1>
      <div class="row">
        <h2>Announcement</h2>
        <p style="text-align: center">
          This website is a work in progress. More features and content will be
          added in due time to further demonstrate Matthew's capability.
        </p>
      </div>
      <br />
      <div class="row responsive-row">
        <a
          class="col responsive-col text-center"
          style="text-decoration: none"
          href="/site-info"
        >
          <img
            class="img-icon"
            src="assets\images\info-icon.jpg"
            style="color: #ffffff"
          />
          <h2 class="mt-2">About</h2>
          <p>
            Learn about the purpose of this website and its creator, including
            the plans Matthew has for this website.
          </p>
        </a>
        <a
          class="col responsive-col text-center"
          style="text-decoration: none"
          href="{{ blckJackGameRoute }}"
        >
          <img class="img-icon" src="assets\images\black-jack-icon.png" />
          <h2 class="mt-2">Black Jack</h2>
          <p>
            Play a game of blackjack with casual rules. In this demo, the
            insurance rule will not apply, as the focus is on showcasing
            technical abilities.
          </p>
        </a>
        <!--<div class="col"></div>-->
        <button class="row btn btn-info" style="max-width: 300px; max-height: 50px; position: relative; justify-self: center; text-align: center;" (click)="getCatFact()">
          Get me a cool Cat Fact with an API
        </button>
        @if(this.showCatFact){
          <div class="col text-center">
        <img src="assets\images\dapper-cat.gif" alt="Sir Catalot" style="max-height: 200px; width: auto;"/>
        <div class="bubble left">Good day! For this iteration's Fact: <br>{{ catFact.fact }}</div>
      </div>
        }
        <p class="row" style="text-align: center;">API URL: https://catfact.ninja/fact <br>Swagger: https://catfact.ninja/<br> the Cat Fact Public API is accessed using Angular's built-in HTTP client module to send requests and retrieve data.</p>
      </div>
    </div>
  </div>
</div>
